# https://EditorConfig.org
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.{js,jsx,ts,tsx,py}]
charset = utf-8

[*.{ts,tsx}]
indent_size = 2

[*.{js,json,jsonc,jsx,mjs,py}]
indent_size = 4
indent_style = space
