# ###### In case you forget...
# :ro === :readonly
# for each 'ports' entry -> HOST_PORT:CONTAINER_PORT

services:
  all:
    image: alpine
    command: sh -C "echo start"
    platform: linux/amd64
    depends_on:
      - frontend
      - nginx
      - server
      - session-cache

  database:
    image: postgres:16.2-bullseye # higher than this?
    env_file: .env
    environment:
      POSTGRES_PASSWORD: example
    networks:
      - main_app
      - scraper
    platform: linux/amd64
    ports:
      - 5432:5432
    volumes:
      - ./db:/opt/db/scripts
      - db_volume:/var/lib/postgresql/data

  frontend:
    env_file: .env
    environment:
      EXAMPLE: woof
    build:
      context: .
      dockerfile: app/Dockerfile
      target: frontend-dev
    networks:
      - main_app
    ports:
      - "8080:8080"
      - "9229:9229"
    volumes:
      - ./app:/opt/nlpssa-frontend
      - /opt/nlpssa-frontend/node_modules
      # - ~/.aws:/home/nlpstocksaapp/.aws:ro

  nginx:
    build:
      context: .
      dockerfile: nginx-reverse-proxy/Dockerfile
    links:
      - frontend
      - server
    # network_mode: host
    networks:
      - main_app
      - scraper
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./app/dist/:/etc/nginx/html/
      - ./nginx-reverse-proxy/conf/:/etc/nginx/conf.d/:ro
      - ./nginx-reverse-proxy/certs:/etc/nginx/certs
    command: [ "nginx", "-g", "daemon off;" ]

  server:
    depends_on:
      - database
    env_file: .env
    environment:
      EXAMPLE: woof
      WORKERS: 1
    build:
      context: .
      dockerfile: server/Dockerfile
      target: server-dev
    networks:
      - main_app
    ports:
      - "3000:3000"
    volumes:
      - ./server:/opt/nlp-stock-sa/server
      # - ~/.aws:/home/nlpstocksaapp/.aws:ro

  session-cache:
    image: memcached:1.6.10
    ports:
      - '11211:11211'

  scraper:
    depends_on:
      - database
      - splash-server
    env_file: .env
    environment:
      EXAMPLE: woof
      WORKERS: 1
    build:
      context: .
      dockerfile: server/Dockerfile
      target: scraper-dev
    networks:
      - scraper
    ports:
      - "3001:3001"
    volumes:
      - ./server:/opt/nlp-stock-sa/server
      # - ~/.aws:/home/nlpstocksaapp/.aws:ro

  splash-server:
    image: scrapinghub/splash:latest
    networks:
      - scraper
    platform: linux/amd64
    ports:
      - "8050:8050"
    volumes:
      - splash:/opt/nlp-stock-sa/scraper/splash

networks:
  main_app:
    driver: bridge
  scraper:
    driver: bridge

volumes:
  db_volume:
  splash:


# frontend-test:
  #   env_file: .env
  #   environment:
  #     ENV: test
  #   build:
  #     context: .
  #     dockerfile: app/Dockerfile
  #     target: frontend-test
