{
    "arrowParens": "always",
    "bracketSameLine": false,
    "multilineArraysWrapThreshold": 2,
    "printWidth": 88,
    "proseWrap": "always",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "useTabs": false
}
