{
    "plugins": ["./node_modules/prettier-plugin-multiline-arrays"],
    "arrowParens": "always",
    "bracketSameLine": false,
    "multilineArraysWrapThreshold": 2,
    "printWidth": 120,
    "proseWrap": "always",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false
}
